@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.share {
  @include margin-top(1);

  &-title {
    margin-bottom: 1rem;
    font-size: $typographic-base-font-size * 1;
    font-weight: bold;
    text-align: center;
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    > * {
      flex-basis: 25%;
      flex-grow: 1;
    }

    button {
      color: var(--color-white); // don't invert
      width: 100%;
      text-transform: uppercase;
      font-weight: 900;
    }

    button.facebook {
      background-color: darken($_color-base, 3%);
      border-left: 4px solid $color-facebook;

      &:hover {
        background-color: $color-facebook;
      }
    }

    button.twitter {
      background-color: darken($_color-base, 6%);
      border-left: 4px solid $color-twitter;

      &:hover {
        background-color: darken($color-twitter, 1%);
      }
    }

    button.linkedin {
      background-color: darken($_color-base, 9%);
      border-left: 4px solid $color-linkedin;

      &:hover {
        background-color: darken($color-linkedin, 1%);
      }
    }

    button.reddit {
      background-color: darken($_color-base, 12%);
      border-left: 4px solid $color-reddit;

      &:hover {
        background-color: darken($color-reddit, 10%);
      }
    }
  }
}

@include breakpoint-sm {
  .share {
    @include margin-top(1.5);
  }
}
