@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.siteTitle {
    font-size: 18px;
    margin:0;
    position: relative;
    line-height: unset;
    a {
        font-size: $typographic-base-font-size;
        color: $typographic-base-font-color;
        font-weight: 900;
        border: 0;
        user-select: none;
        padding: 0.25rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        text-transform: uppercase;
        
        &::after,  &::before {
            content: "";
            width: 6%;
            height: 61px;
            background: $color-secondary;
            position: absolute;
            left: -2px;
            z-index: -1;
            top: -16px;
            transform: skewX(10deg);
            transition: width 2s, height 2s, background-color .1s, transform .2s;
            transition-duration: .3s;
        }
        &::before {
          background: $color-secondary;
          background: #d5f5e4;
          height: 0;
        }

        &:hover {
          color: $color-primary;
          &::after {
            background: $color-secondary;
            height: 0;
          }
          &::before {
            background: #d5f5e4;
            height: 61px;
            z-index: 1;
          }
        }

      }
}