@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.tag {
  @include margin-bottom(0.5);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 22px 0;
    text-align: center;

    &-item {
      padding: 0 10px;
      margin: 10px 0;
      display: inline-block;

      &-link {
        display: inline-block;
        padding: 0 15px;
        line-height: 32px;
        border: 1px solid $color-gray-border;
        text-decoration: none;
        border-radius: 9px;
        color: $color-base;
        background: #e8e8e8;
        font-size: $typographic-small-font-size;

        &:hover,
        &:focus {
          color: $color-primary;
          border-bottom: 1px solid $color-primary;
        }

        &--active {
          color: $color-base;
          border-bottom: 1px solid $color-base;
          font-weight: bold;
        }
      }
    }
  }

  &.no-margin {
    margin: 0;
  }
}

.bold {
  font-weight: 600;
}

@include breakpoint-sm {
  .tag {
    @include margin-bottom(1);

    &__list {
      text-align: initial;

      &-item {
        padding: 0;
        display: list-item;
      }
    }

    &.horizontal {
      margin: 0;

      li {
        display: inline-block;
        @include margin-right(1);
      }
    }
  }
}
