@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.tag {
  @include margin-bottom(0.5);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 22px 0;
    text-align: center;

    &-item {
      padding: 0 10px;
      margin: 10px 0;
      display: inline-block;

      &-link {
        display: inline-block;
        padding: 0 22px;
        line-height: 32px;
        border: 1px solid $color-secondary;
        text-decoration: none;
        border-radius: 22px;
        color: $color-base;
        font-size: $typographic-small-font-size;
        transition: .3s;

        &:hover,
        &:focus {
          color: white;
          background-color: $color-secondary;
          border-bottom: 1px solid $_color-secondary-light;
        }

        &--active {
          color: $color-base;
          border-bottom: 1px solid $color-base;
          font-weight: bold;
        }
      }
    }
  }

  &.no-margin {
    margin: 0;
  }
}

.bold {
  font-weight: 800;
}

@include breakpoint-sm {
  .tag {
    @include margin-bottom(1);

    &__list {
      text-align: initial;

      &-item {
        padding: 0;
        display: list-item;
      }
    }

    &.horizontal {
      margin: 0;

      li {
        display: inline-block;
        @include margin-right(1);
      }
    }
  }
}
