/**
* Global 
*/ 
.headroom-wrapper {
    background-color: var(--color-background);
    box-shadow: 0 4px 15px var(--color-gray-bg);
    .headroom {
        padding-left: 0.05rem;
        padding-right: 0.05rem;
        @media screen and (min-width:685px) {
            padding-right: 2rem;
            padding-left: 2rem;
        } 
       
    }
    .headroom:not(.headroom--unfixed) {
        &::after {
            box-shadow: var(--color-gray-bg) 0px 4px 15px;
            content: "";
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            border-bottom-left-radius: 9px;
            border-bottom: 0;
            border-bottom-right-radius: 9px;
            background-color: var(--color-background);
        } 
    }
    
}