@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.readmore {
  @include margin-top(2);
  @include margin-bottom(2);

  &-title {
    margin: 0;
    font-size: $typographic-base-font-size * 1;
    font-weight: bold;
  }

  &-no-post { display: none;}

  &-pagination {
    margin: 0;
  }

  &-links {
    display: flex;
    flex-direction: column;
    margin: 22px 0;

    > div {
      flex: 1;
      background-color: $color-gray-bg;
      border-radius: 9px;
      margin-bottom: 22px;
      overflow: hidden;
      
      .body {
        padding: 22px;
      }

      p {
        margin: 0;
        font-size: $typographic-base-font-size * 0.9;
        @include line-height(0.9);
      }

      .description {
        font-size: 16px;
        color: var( --color-black)
      }
    }
    
  }
}

.readmore-thumbnail {
  background-color: var(--background-color);
  border-radius: 4px;
}

@include breakpoint-sm {
  .readmore-links {
    flex-direction: row;
    >div { margin: 0}
    > div:first-of-type { margin-right: 22px;}
    
  }
}
